@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme {

  --color-primary-premier: #38003C;
  --color-secondary-premier: #E90052;
  --color-tertiary-premier: #04F5FF;

  --font-Inter: "Inter", "sans-serif";

}